

html {
  margin: 0%;
  padding: 0%;
  }

  body {
  background-color: rgb(184, 122, 242);
  margin: 0%;
  padding: 0%;
  }

h1, h3 {
  margin: 0%;
  padding: 0%;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
}


article {
  height: 875%;
  width: 780px;
  float: left;
}

aside {
  height: 875%;
  width: 420px;
  float: right;
}

.navbar-brand {
  display: inline-block;
  padding: right ;
  padding-bottom: left;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  position: right;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.collapse navbar-collapse {
  color: #fbfbfc;
  text-decoration: none;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 50%;
}

a {
  color: #fafbfc;
  text-decoration: none;
  background-color: transparent; 
  padding: .5rem 1rem; 
  text-align: -webkit-match-parent;
  }

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.imagen-programadora {
  display: block;
  width: 400px;
  margin: 0%;
  padding: 0%;
  float: right;
}


footer {
  background-color: #1e0430 ;
  color: #fafbfc;
  clear: both;
  padding: 0px;
  margin: 0px;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  left: 0;
  }
  
  .container-fluid {
    background: #0e0e0e;
    color: #fefdfd;
    text-align: center; 
    clear: both;
    position: absolute;
  bottom: 0;
  }
  
 
  