.header {
    color: #0b0b0b;
    font-size: 27px;
    padding: 10px;
}

html {
   position: relative;
  min-height: 100%;
    }
  
    body {
    background-color: rgb(184, 122, 242);
    margin: 0%;
    padding: 0%;
    height: 70%;
    }

.bigicon {
    font-size: 25px;
    color: #ffffff;
}

.formulario {
    min-height: 100%;
    margin-bottom: -8em;
    padding-bottom: 8em;
}

footer  {
    background-color: #1e0430 ;
    color: #fafbfc;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    }

    .container-fluid {
        background: #0e0e0e;
        color: #fefdfd;
        text-align: center; 
        position: fixed;
      bottom: 0;
      }
